# Pravidlá pre Node.js
node_modules/
npm-debug.log

# Pravidlá pre TypeScript
dist/
*.tsbuildinfo

# Pravidla pre JEST
coverage/

# Pravidlá pre IDE / Editor
.vscode
.idea
*.sw*
*.swo
*.swn
*.log

# Pravidlá pre OS
.DS_Store
Thumbs.db
